.contactMe{
  align-items: center;
  
}
.contactHeading{
  color: white;
  font-size: 3rem;
  font-family: monserrat, sans-serif;
  border-bottom: 18px solid #a253a5;
  width: 18rem;
  display: block;
  margin: 10rem;
  position: relative;
  left: 3.5rem;
  top: 6.3rem;
  z-index: -1;
  padding: 0;
  box-sizing: inherit;
}

.info-text{
  color: white;
  font-size: 20px;
  font-family:  'Arial Narrow Bold';
  margin-bottom: 20px;
  align-items: center;
  text-wrap:balance;
}
.contactName{
  height: 50px;
  width: 500px;
    resize: none;
    border: none;
    color: white;
    margin: 10px;
    background-color:  #282828;;
    font-size: 1.3rem;
    font-family: monserrat, sans-serif;
    color: rgba(241, 233, 233, 0.829);
    border-left: 2px solid transparent;
    border-radius: 0;
}
.contactEmail{
  height: 50px;
  width: 500px;
  resize: none;
  border: none;
  margin: 10px;
  color: white;
  background-color:  #282828;;
  font-size: 1.3rem;
  font-family: monserrat, sans-serif;
  color: rgba(241, 233, 233, 0.829);
  border-left: 2px solid transparent;
  border-radius: 0;
}
.contactMessage{
  padding: 10px;
  height: 350px;
  width: 485px;
  font-size: 1.3rem;
  background-color:  #282828;;
  line-height: 1.5;
  font-family: monserrat, sans-serif;
  border: none;
  margin: 10px;
  resize: none;
  color: rgba(241, 233, 233, 0.829);
  border-radius: 5%;

  
}
.form-Submit{
  padding: 10px; /* Padding inside button */
  background-color: #a253a5; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  font-family: monserrat, sans-serif;

}
.form-Submit:hover{
  background-color: #46033a; 
}

