@import url();

body{

  margin: 0;
  background-color: black; /* Background color */ 

}
@media(max-width: 768px){
  .body{
    font-size: 9vw;
  }
}
@media(max-width: 480px){
  .body{
    font-size: 9vw;
  }
}
.marquee {
  width: 100%; /* Full width */
  overflow: hidden; /* Hide overflow */
  background: #6b0585; /* Background color for marquee */
  color: white; /* Text color */
  white-space: nowrap; /* Prevent line breaks */
  font-size: 20px;
  margin-top: 15px;
}
.marquee p {
  display: inline-block; /* Allow inline block for scrolling */
  padding: 15px; /* Padding for aesthetics */
  animation: scroll 10s linear infinite; /* Animation properties */
}

@keyframes scroll {
  0% {
      transform: translateX(100%); /* Start off-screen right */
  }
  100% {
      transform: translateX(-100%); /* End off-screen left */
  }
}
.star {
  position: absolute;
  border-radius:0;
  background: white; /* Star color */
  opacity: 0.8;
}
.content {
  position: relative;
  z-index: 1; /* Places content above stars */
  color: white;
  text-align: center;
  padding: 50%s;
  font-family: Arial, sans-serif;
}

.resumeLink{
  font-size: 20px;
  color: yellow;
  margin-top: 75px;
  margin-left: 25px;
  font-family: monserrat, sans-serif;
}
.heading{
  position: relative;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: #fafafa;
  font-weight: 300;
  z-index: 999;
}
.p-intro1{
  color: white;
  font-size: 35px;
  align-items: center;
  font-family: monserrat, sans-serif;
  word-spacing: 5px;
}
.viewWorkText{
  align-items: center;
  text-align: center;  

}

.p-intro1 span {
  color: #d8ff4d;
  font-weight: 400;
}
.viewWorkButton{
  position:sticky;
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  padding: 0.8rem 3rem;
  width: 15.5rem;
  height: 2.8rem;
  background-color: rgb(25, 6, 26);
  border: 2px solid #cada3e;
  border-radius: 2px;
  color: #e9eff0;
  font-size: 2.4rem;
  font-weight: 500;
  cursor: pointer;
}


