.navigation-bar{
  font-family:  Calibri;
  font-size: 30PX;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid #1a1a1a;
  background-color: rgba(40, 40, 40, 0.95);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  z-index: 1;  
  cursor: pointer;
  
}
.navigation {
  display: flex;
  margin-right: 10rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
}
ul {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin-inline-start: 0px;
  margin-inline-end: 20px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.navigation-item{
  margin-right: 2rem;
  color: rgb(231, 154, 231);
  
}
.navigation-item :hover{
  margin-right: 2rem;
  color: rgb(235, 222, 235);

  
}
.navigation-item:not( :last-child){
  margin-right: 2rem;
  
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navigation-bar {
      font-size: 4vw; /* Increase font size for tablets */
      margin: 1.8rem auto; /* Adjust margins for smaller screens */
  }

  .ul {
      margin-bottom: 10vw; /* Adjust spacing */
  }
}

@media (max-width: 480px) {
  .navigation-bar {
      font-size: 5vw; /* Increase font size for mobile */
      margin: 3rem auto; /* Adjust margins for smaller screens */    
      display: flex;
      justify-content: center; /* Center text in button */      
  }

  .ul {
      margin-bottom: 8vw; /* Adjust spacing */
  }
}
