.projectsHeading{
  color: white;
  font-size: 3vw;
  font-family: monserrat, sans-serif;
  border-bottom: 18px solid #a253a5;
  max-width: 18rem;
  width: 80%;
  display: flex;
  margin: 8rem;
  position: relative;
  left: 10rem;
  top: 2.3rem;
  padding: 0;
  
  align-items: center;
  margin-bottom: 80px; /* Space below heading */
}

.projects {
  padding: 0px;
  background-color: #5a0753; /* background */
  box-sizing: border-box;
}
.project-list {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */

}
.project-list li {
  margin-bottom: 50px; /* Space between projects */
  border: 5px solid #ddd; /* Border around project items */
  padding: 15px; /* Padding inside project items */
  border-radius: 8px; /* Rounded corners */
  background-color: #fff; /* White background */
}
.project-list h3 {
  margin: 0; /* Remove default margin */
  color: #0f0913; /* Link color */

}
.project-list p {
  color: #0f0913; /* Link color */

  margin: 10px 0; /* Margin above and below paragraphs */
}
.project-list a {
  color: #5b098a; /* Link color */
  text-decoration: none; /* Remove underline */
}
.project-list a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .projectsHeading {
      font-size: 4vw; /* Increase font size for tablets */
      margin: 5rem auto; /* Adjust margins for smaller screens */
  }

  .project-list li {
      margin-bottom: 15px; /* Adjust spacing */
  }
}

@media (max-width: 480px) {
  .projectsHeading {
      font-size: 5vw; /* Increase font size for mobile */
      margin: 3rem auto; /* Adjust margins for smaller screens */
  }

  .project-list li {
      margin-bottom: 10px; /* Adjust spacing */
  }
}